org.jitsi.jicofo.BRIDGE_MUC=JvbBrewery@internal.auth.{{ jitsi_fqdn }}
org.jitsi.jicofo.ALWAYS_TRUST_MODE_ENABLED=true

{% if jibri_enable == true %}
org.jitsi.jicofo.jibri.BREWERY=JibriBrewery@internal.auth.{{ jitsi_fqdn }}
org.jitsi.jicofo.jibri.PENDING_TIMEOUT=90
{% endif %}

{% if jitsi_octo_enabled %}
org.jitsi.jicofo.BridgeSelector.BRIDGE_SELECTION_STRATEGY={{ jitsi_octo_selection_strategy }}
{% endif %}

{% if jitsi_meet_secure_domain_enabled %}
org.jitsi.jicofo.auth.URL=XMPP:{{ jitsi_fqdn }}
{% endif %}
