{% if jitsi_octo_enabled %}
{% if jitsi_use_free_maxmind %}
geoip2 /var/lib/GeoIP/GeoLite2-Country.mmdb {
  auto_reload 1440m;
  $geoip2_metadata_country_build metadata build_epoch;
  $geoip2_data_country_code default=US country iso_code;
  $geoip2_data_country_name country names en;
}
geoip2 /var/lib/GeoIP/GeoLite2-City.mmdb {
  auto_reload 1440m;
  $geoip2_data_city_name  city names en;
  $geoip2_data_continent_name continent code;
}
{% else %}
geoip2 /var/lib/GeoIP/GeoIP2-Country.mmdb {
  auto_reload 1440m;
  $geoip2_metadata_country_build metadata build_epoch;
  $geoip2_data_country_code default=US country iso_code;
  $geoip2_data_country_name country names en;
}
geoip2 /var/lib/GeoIP/GeoIP2-City.mmdb {
  auto_reload 1440m;
  $geoip2_data_city_name  city names en;
  $geoip2_data_continent_name continent code;
}
{% endif %}

#  default nope;
#  ~^.*:EU eu-central-1;
#  ~^.*:AF eu-central-1;
#  ~^.*:NA us-east-2;
#  ~^.*:SA us-east-2;
#  ~^.*:AN us-east-2;
#  ~^.*:AS ap-south-1;
#  ~^.*:OC ap-south-1;

map "{{ jitsi_octo_nginx_geoip_mapping_vars }}"  $user_aws_region {
{% for item in jitsi_octo_nginx_regions_mapping %}
{{ item }};
{% endfor %}
}

{% endif %}
